/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Body

body {
  margin: 0;

}

// Text


h2 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 30px;
  margin-top: 0;
}


.tx-big {
  font-size:40px;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.centered {
  text-align: center;
}

// Colors

.tx-yellow {
  color: $yellow;
}

.tx-yellow a{
  color: $yellow;
}
.tx-white {
  color:white;
}

.tx-red {
  color: $red;
}

.tx-brown {
  color: $brown;
}



// Paddings
.padded {
  padding: 100px 0;
}

.padded-side {
  padding: 0px 20px;
}

.padded-topbot {
  padding: 20px 0px;
}

// Backgrounds
.wrapper-grey {
  background: $gray-light;
}

.bg-red {
  background-color: $red;
}


.bg-orange {
  background-color: $orange;
}

.bg-brown {
  background-color: $brown;
}

.bg-yellow {
  background-color: $yellow;
}

.bg-graylighter {
  background-color: $gray-lighter;
}

