<!-- _footer.erb -->

<div id="footer">
  <div class="wrapper bg-brown">
      <div class="footer">
        <ul class="list-inline tx-yellow tx-big">
          <li><a href=""><i class="fa fa-youtube"></i></a></li>
          <li><a href=""><i class="fa fa-instagram"></i></a></li>
          <li><a href=""><i class="fa fa-facebook"></i></a></li>
          <li><a href=""><i class="fa fa-twitter"></i></a></li>
        </ul>
        <p class="tx-white">This is a Sausage Home challenge @ LeWagon</p>
      </div>
    </div>
</div>
