<!-- _footer.erb -->

<div id="footer ">
  <div class="wrapper ">
      <div class="footer  bg-brown">
        <ul class="list-inline  tx-big">
          <li><a href=""><i class="fa fa-youtube"></i></a></li>
          <li><a href=""><i class="fa fa-instagram"></i></a></li>
          <li><a href=""><i class="fa fa-facebook"></i></a></li>
          <li><a href=""><i class="fa fa-twitter"></i></a></li>
        </ul>
        <p class="tx-white">This is a Sausage Home challenge @ LeWagon</p>
      </div>
    </div>
</div>
