<html>
  <head>
    <meta charset="utf-8">
    <title>Airbnb home</title>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Raleway:300,400,500,700">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- Leave those next 4 lines if you care about users using IE8 -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <!-- Your banner code -->
    <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('images/banner.jpeg');">
      <div class="banner-content">
      <h1>Saucisses</h1>
        <p>Nice sausages</p>
        <form class="form-inline">
          <div class="form-group ">
            <input type="date" class="form-control input-lg" placeholder="Check-in">
          </div>
          <div class="form-group ">
            <input type="date" class="form-control input-lg" placeholder="Check-out">
          </div>
          <select class="form-control input-lg">
            <option value="1">1 guest</option>
            <option value="2">2 guests</option>
            <option value="3">3 guests</option>
          </select>
           <a class="btn btn-danger btn-lg">YUM YUM</a>
        </form>
      </div>
    </div>
    <!-- Your features code -->
    <div class="wrapper bg-yellow">
      <div class="container padded">
        <div class="row centered">
          <div class="col-sm-3">
            <div class="feature">
            <img src="images/chef.png" class="icon" alt="">
            <h3>Easy to cook</h3>
            <p>Feel like a true chef</p>
          </div>
          </div>
          <div class="col-sm-3">
            <div class="feature">
            <img src="images/hotdog.png" class="icon" alt="">
            <h3>Take it everywhere</h3>
            <p>What is better than a hot-dog ?</p>
          </div>
          </div>
          <div class="col-sm-3">
            <div class="feature">
            <img src="images/meal.png" class="icon" alt="">
            <h3>Perfect for every meal</h3>
            <p>It's always saucisse hour</p>
          </div>
          </div>
          <div class="col-sm-3">
            <div class="feature">
            <img src="images/happy.png" class="icon" alt="">
            <h3>Makes you happy</h3>
            <p>And you can share !</p>
          </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Your cards code -->
    <div class="wrapper-grey">
      <div class="container padded ">
        <h2 class="centered tx-red">Become a true sausage lover</h2>
        <div class="row">

          <div class="col-xs-12 col-sm-4">
            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('images/wurst.jpg');">
              <div class="card-category">Travel</div>
              <div class="card-description">
                <h2>Hallo wurst !</h2>
                <p>Fly to Germany to eat wurst with the best beers in Europe</p>
              </div>
              <img class="card-user avatar" src="images/globe.png">
              <a class="card-link" href="#" ></a>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('images/morning.jpg');">
              <div class="card-category">Lifestyle</div>
              <div class="card-description">
                <h2>A fresh start everyday</h2>
                <p>Discover the best "sausage included" breakfast recipies</p>
              </div>
              <img class="card-user avatar" src="images/heart.png">
              <a class="card-link" href="#" ></a>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('images/barbecue.jpg');">
              <div class="card-category">Lifestyle</div>
              <div class="card-description">
                <h2>1BAW ! </h2>
                <p>Join our "1 Barbecue A Week" summer plan and meet other sausage lovers</p>
              </div>
              <img class="card-user avatar" src="images/beer.png">
              <a class="card-link" href="#" ></a>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- Your newsletter code -->
    <div class="wrapper bg-red  padded">
      <div class="container centered">
        <h2 class="tx-brown">Get news about sausages</h2>
        <p>Leave us your email and get news from us</p>
        <form class="form-inline">
          <div class="form-group ">
            <input type="text" class="form-control" placeholder="Your email (email@domain.com)">
          </div>
          <button type="submit" class="btn btn-default">Subscribe</button>
        </form>
      </div>
    </div>
    <!-- Your map code -->
    <div id="map" style="width: 100%; height: 400px;"></div>

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>

    <script type="text/javascript">
    var myLatlng = new google.maps.LatLng(48.852937,2.364178);

    var myOptions = {
      zoom: 16,
      center: myLatlng,
      scrollwheel: false,
      mapTypeId: google.maps.MapTypeId.ROADMAP,
      styles: [{"featureType":"landscape","elementType":"all","stylers":[{"hue":"#ffbb00"},{"lightness":-32},{"saturation":100},{"weight":3}]},{"featureType":"poi","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"road","elementType":"geometry.fill","stylers":[{"saturation":100},{"hue":"#ffe500"},{"lightness":-13}]},{"featureType":"road","elementType":"geometry.stroke","stylers":[{"hue":"#ff0000"},{"saturation":100},{"lightness":-50},{"visibility":"off"}]},{"featureType":"transit","elementType":"all","stylers":[{"visibility":"off"}]}] // TODO: replace [] by array from https://snazzymaps.com/
    };

    var map = new google.maps.Map(document.getElementById('map'), myOptions);
    var marker = new google.maps.Marker({
      position: myLatlng,
      map: map,
      title: "You are here!"
    });
    </script>
    <!-- Your footer code -->

    <!-- Including Bootstrap JS (with its jQuery dependency) so that dynamic components work -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>
</html>
