<ul class="list-inline text-center padded-topbot">
  <% ["anne", "seb", "nicolas"].each do |member| %>
    <li>
      <%= image_tag "#{member}.jpg", class: "avatar-xl" %>
      <h3><%= member.capitalize %></h3>
    </li>
  <% end %>
</ul>
